/* Farb Palette
--onyx: #393d3fff;
--white: #fdfdffff;
--silver: #c6c5b9ff;
--steel-teal: #62929eff;
--dark-electric-blue: #546a7bff; */


body{
	margin: 0%;
	font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
	background: #393d3fff;
}


button{
	outline: none;
	border: transparent 1px solid;
	border-radius: 5px;
	margin: 2px;
}


.headline{
	font-size: 30px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	color: #c6c5b9ff;
}


.userlist{
	box-shadow: 0px 0px 7px rgb(31, 31, 31);
	border-radius: 5px;
	overflow: hidden;
}
.userentry{
	border-bottom: #393d3fff solid 1px;
	color: white;
	padding: 8px;
	background: #62929eff;
	margin-bottom: 0px;
}
.userentry:hover{
	background: #5a8a96;
	cursor: pointer;
}


p.msg_block{
	margin: 4px;
	width: max-content;
	padding-right: 4px;
}
p.msg_block:hover{
	background: rgba(57, 61, 63, 0.15);
	cursor: pointer;
}


/* Menu button */
#lines { 
    /*border-bottom: 17px double #62929eff;
    border-top: 6px solid #62929eff;*/
    height: 28px;
    width:30px;
	float: right;
	cursor: pointer;
	align-content: space-between;
	flex-wrap: wrap;
	display: flex;
}
.menu_line{
	height: 6px;
	width: 100%;
	background: #62929eff;
	transition: 0.4s ease-out;
}
.menu_line.l1{
	transform: rotate(-45deg) translateY(15.5px);
}
.menu_line.l2{
	transform: scale(0);
	transition: 0s;
}
.menu_line.l3{
	transform: rotate(45deg) translateY(-15.5px);
}

.menu_entry{
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	float: none;
	margin-inline: 0px;
}
.menu_button{
	width: 80%;
	height: 50%;
	color: white;
	background: #62929eff;
	border:none;
	border-top: black solid 0px;
	border-bottom: black solid 0px;
	cursor: pointer;
}




/* Scroll-bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent; 
}
::-webkit-scrollbar-thumb {
	background: #333; 
}
::-webkit-scrollbar-thumb:hover {
	background: #222; 
}

/* TESTING AREA */
/* User proposals as overlay for  message input, but dont know how */
#dropdown {
  position: fixed;
  display: none;
  width: 10%;
  height: 10%;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* Word count at the bottom of the message input field */
#charcount {
  position: absolute;
  display: block;
  width: 40px;
  height: 13px;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  color: #FFF;
  font-size: 10px;
  z-index: 2;
  cursor: pointer;
  justify-self: center;
  justify-content: center;
}


/*Animations*/
.angrymode{
	animation-name: angry;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
@keyframes angry {
	0% {background: red;}
	20%{background: darkred;}
	25% {background: red;}
	45%{background: darkred;}
	100%{background: darkred;}
}
.angryshake{
	animation: angryshake 1.5s infinite;	
	overflow: hidden;
	height: 98vh !important;
	width: 98vw !important;
	margin: auto;
	margin-block: auto;
}
@keyframes angryshake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}