/* Farb Palette */
:root {
    --background: #2b2d31;
    --msg_input: #383a40;
    --msg_box: #313338;
    --font_color: #b4b9bc;
    --box_shadow: #191b1c;
    --button_color: #62929eff;
    --user_divider: #1e1f22;
    --scrollbar: #282828;
    --scrollbar_hover: #222;
}