/* Farb Palette */
:root {
    --background: #d0c8c8;
    --msg_input: #9a9a9a;
    --msg_box: #888888;
    --font_color: #000000;
    --box_shadow: #767676;
    --button_color: #62929eff;
    --user_divider: #1e1f22;
    --scrollbar: #282828;
    --scrollbar_hover: #222;
    --logo_fill: #000000;
    --logo_stroke #b4b9bc;
}